body{
    width: 100%;
    margin-left: 0;
    background-color: #EFEFEF;
}
*{
    color: #273084;
    font-family: 'Itim', cursive;
}

/* FONTS IN THE PROJECT: 
    font-family: 'Fredoka', sans-serif;
    font-family: 'Itim', cursive;
    font-family: 'Open Sans', sans-serif; */